.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid red;
}

.checkout-form {
    display: flex;
    min-width: 550px;
    width: 70%;
    height: inherit;
    margin: 20px 0 20px 0;
    padding: 20px;
    background-color: rgb(217, 217, 217);
    /* box-shadow: 0 2px 5px rgba(148, 148, 148, 0.5);
    border: 1px solid rgba(116, 116, 116, 0.1); */
    border: 1px solid red;
}

.buyer-data {
    border: 1px solid red;

}

.purchase-summary {
    border: 1px solid red;
}