.form-container {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 100%;
}

.checkout-form {
  background-color: rgb(217, 217, 217);

  /* box-shadow: 0 2px 5px rgba(148, 148, 148, 0.5);
    border: 1px solid rgba(116, 116, 116, 0.1); */
  border: 1px solid red;
  display: flex;
  height: inherit;
  margin: 20px 0;
  min-width: 550px;
  padding: 20px;
  width: 70%;
}

.buyer-data {
  border: 1px solid red;

}

.purchase-summary {
  border: 1px solid red;
}
